* {
  box-sizing: border-box;
}

:root {
  --black: #222222;
  --white: #fff;
  --green:#CEF77F;
}

body {
  font-family: 'Work Sans', sans-serif;
  background-color: var(--green);
  padding: 0;
  margin: 0;
}


/*TYPO*/

h1 {
  font-size: 4em;
  font-weight: 400;
}

h2 {
  font-size: 1.6em;
  font-weight: 600;
}

h3 {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 400;
}

p {
  font-size: 1em;
}

a {
  text-decoration: none;
  color: var(--black);
  transition: all .3s ease;
}


/*HEADER*/

.page-header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
  padding: 0 25px;
}

.logo {
 width: 12em;
}

.button {
  background: var(--black);
  width: 12em;
  text-align: center;
  border-radius: 20px;
  color: var(--green);
  padding: 0.5em 1em; 
  cursor: pointer; 
  transition: all .3s ease;
  border: none;
}

.page-header ul {
  list-style: none;
  text-align: right;
  margin: 0;
  padding: 0;
}

.page-header li {
  align-items: row;
  position: relative;
  display: inline-block;
  margin-left: 2rem;
}

nav li a:hover{
  border-bottom: 2px solid;
}

/*INTRO*/

.intro {
  padding: 60px;
}


/*CALCULATOR*/

.calculator {
  background-color: var(--white);
  padding: 60px;
}

.locationInfo div {
  padding-bottom: 10px;
}

.toggle-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.toggle-button {
  padding: 10px 20px;
  border: none;
  width: 100%;
  margin: 2px;
}

.toggle-button.active {
  background-color: var(--green);
}

.calculate {
  padding-top: 2em;
}

.primary-button {
  background: var(--green);
  width: 12em;
  text-align: center;
  border-radius: 20px;
  color: var(--black);
  padding: 0.5em 1em; 
  cursor: pointer; 
  transition: all .3s ease;
}

input[type=text]{
  width: 100%;
}

.calculator fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

/*FOOTER*/

footer {
  padding: 0 25px;
}

footer ul{
  display: flex;
  list-style-type: none;
  margin:0;
  padding:0;
  justify-content: left;
}

footer ul li { 
 padding-right: 2rem;
}

