* {
  box-sizing: border-box;
}

body {
  font-family: 'Fira Sans', sans-serif;
  padding: 0 20px;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1em;
  font-weight: 600;
}

p {
  font-size: 1em;
}

.intro p { 
  font-size: 32px;
}

.toggle-container{
  display: flex;
}

.toggle-button {
  padding: 10px 20px;
  border: none;
}

.toggle-button.active {
  background-color: blueviolet;
  color: white;
}

footer ul{
  display: flex;
  list-style-type: none;
  margin:0;
  padding:0;
  justify-content: center;
}

footer ul li { 
   padding:0px 20px;
}