<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pv-calculate.de</title>

    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">

        <header class="page-header">
            <nav>
                <a class="logo" href="{{ url_for('home') }}">PV Calculate </a>

                <ul>
                    <li><a href="#">About</a></li>
                    <li><a href="#calculator"><p class="button">Start calculating</p></a></li>
                </ul>
            </nav>  
        </header>
    
        <main>  
            <section class="intro">
                <h1>This website was initiated as part of the TechLab Digital Shaper program.</h1>
            </section>
        </main>

        <footer>
            <ul>
                <li>
                    <p> © 2023 PV Calculate</p>
                </li>
                <li>
                    <a href="{{ url_for('about') }}"><p>Impressum</p></a>
                </li>
                <li>
                    <a href="{{ url_for('about') }}">  <p>Datenschutzerklärung</p></a>
                </li>
            </ul>
        </footer>
        
    </div>


    <script src="script.js"></script>
    
</body>

</html>





