<!DOCTYPE html>
<html lang="de">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>pv-calculate.de</title>
	<link rel="icon" href="favicon.ico">

	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
</head>

<body>
	<div class="container">

		<header class="page-header">
			<nav>
				<a class="logo">PV Calculate</a>

				<ul>
					<li><a href="about.html">About</a></li>
					<li><a href="#calculator"><p class="button">Start calculating</p></a></li>
				</ul>

			</nav>	
	
		</header>
	
		<main>	
			<section class="intro">
				<h1>By calculating yields and costs, we help you make informed decisions about your photovoltaic system.</h1>
			</section>

			<section class="calculator" id="calculator">

				<h2>Calculator</h2>
				
				<fieldset>

					<form method="POST" action="{{ url_for('process') }}">
					
					<div id="locationInfo">
						<h3>Location</h3>
						
						<div>
							<p>
						    <label>Longitude</label>
						    <input type="text" name="longitude_input" id="longitude" placeholder="Enter longitude">
						  </p>

							<p>
						    <label>Latitude</label>
						    <input type="text" name="latitude_input" id="latitude" placeholder="Enter latitude">
						  </p>
						</div>
					</div>

					<div id="consumptionInformation">
						<h3>Amount of PV modules</h3>

						<div>
							<p class="stretch">
								<label for="householdInfo">How many PV modules do you want to install?</label>
								<input type="text" id="quantity" name="quantity" placeholder="Enter number">
							</p>
					
							<p id="disclaimer">
								Disclaimer about the calculator: In the prototype, an average consumption of <span id="consumption"></span> per person is set.
							</p>
						</div>

					</div>

					<div id="roofInformation">
						<h3>Roof Information</h3>
						
						<div id="roofInclination">
							<label>Roof Inclination</label>
							<input type="text" name="surface_tilt_input" id="" placeholder="Enter inclination of roof">
							
						</div>
					

					<div id="roof-orientation">
						<label>Roof Orientation</label>
						<input type="text" name="surface_azimuth_input" id="" placeholder="Enter cardinal direction of roof">

						
					</div>

				</div>

				<input class="primary-button" type="submit" value="Send now">

				</form>

				</fieldset>
			</section>

		</main>

		<footer>
			<ul>
				<li>
					<p> © 2023 PV Calculate</p>
				</li>
				<li>
					<a href="#"><p>Impressum</p></a>
				</li>
				<li>
					<a href="#"><p>Datenschutzerklärung</p></a>
				</li>
			</ul>
		</footer>
		
	</div>


	<script src="script.js"></script>
	
</body>

</html>


